#demo3
    .box
        .btn
            padding: 10px 30px
            font-size: 25px
            background-color: #75c08c
            border: 5px solid #75c08c
            color: #ffff
            &:hover
                background-color: #cf5881
                color: #75c08c
    @media screen and ( max-width: 800px )
        .box
            .btn
                padding: 10px 30px
                font-size: 25px
                background-color: #73285b